* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* CSS DO MENU */

header{
    background-color: black;
    height: 100px;

}

.header{
    max-width: 1140px;
    margin: auto;
    height:100px;
    display: flex;
    align-items: center;
}

.logo{
    width: 60px;
    height: 60px;
    background-color: #B28753;
}

.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu_items{
    display: flex;
    list-style: none;
}

.menu_items a{
    font-weight: 700;
    text-decoration: none;
    color: white;
    margin-right: 22px;
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 5px solid black;
}

.menu_items a:hover{
    border-bottom: 6px solid #B28753;
}

/* CSS DO MAIN */

.banner{
    height: calc(100vh - 100px);
    background-image: url(/assets/images/bg.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.banner .sliders{
    width: 1000vw;
    height: 100%;
    display: inline-block;
}

.banner .slide{
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.banner .slidearea h1{
    text-transform: uppercase;
    font-size: 50px;
}

.banner .slidearea span{
    color: #B28753;
}

.banner .slidearea h2{
    text-transform: uppercase;
    font-size: 18px;
}

.banner .slidearea a{
    text-decoration: none;
    color: white;
    background-color: #B28753;
    margin-top: 30px;
    padding: 15px 50px;
    border-radius: 20px;
    text-transform: uppercase;
}

.banner .sliders_pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -35px;
    color: #B28753;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer{
    width: 10px;
    height: 10px;
    border: 1px solid #B28753;
    margin-right: 10px;
    border-radius: 20px;
}
.banner .pointer.active{
    background-color: #B28753;
}

.default{
    background-color: #f7f7f7;
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section_title,
.default .section_desc {
    text-align: center;
    text-transform: uppercase;
}

.default .section_title{
    font-size: 25px;
    font-weight: 600;
}

.section_desc{
    color: #aeaeae;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 40px;
}

.section_body{
    margin: auto;
    max-width: 1140px;

}

.default.light{
    background-color: #f7f7f7;
}
.default.light .section_title,
.default.light .section_body{
    color: black;
}

.default.dark{
    background-color: black;
    color: white;
}

.default.dark .section_title,
.default.dark .section_body{
    color: white;
}

/* CSS DE ÁREAS ESPECÍFICAS */

.section_aboutus{
    display: flex;
}

.section_aboutus_left{
    flex: 1;
}
.section_aboutus_right{
    width: 500px;
}

.section_aboutus_left p{
    font-size: 14px;
}

.section_aboutus_left a{
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    background-color: #B28753;
    padding: 13px 40px;
    border-radius: 20px;
    display: inline-block;
}

.section_aboutus_right img{
    width: 400px;
    box-shadow: 0px 5px 10px black;
}

.section-services{
    display: flex;
    text-align: center;
}

.section-service{
    flex: 1;
    border-left: 1px solid #333;
}

.section-service:last-child{
    border-right: 1px solid #333;
}

.section-service h4{
    text-transform: uppercase;
}

.section-service p{
    color: #aeaeae;
    font-size: 12px;
    margin: 7px 10px;
}

.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters{
    border:1px solid #aeaeae;
    cursor: pointer;
    border-radius: 25px;
    background-color: #aeaeae2c;
    padding: 0px 20px;
    display: inline-block;
}

.section-projects--filters li{
    display: inline-block;
    text-transform: uppercase;
    padding: 20px;
    font-size: 13px;
    border-right: 1px solid#aeaeae;
    border-bottom: 3px solid #aeaeae2c;
}

.section-projects--filters li:last-child{
    border: none;
}

.section-projects--filters li:hover{
    border-bottom: 3px solid#B28753;
}
.section-projects--filters li.active{
    border-bottom: 3px solid#B28753;
}

.section-projects--photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo{
    width: 280px;
}

.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img{
    width: inherit;
    height: inherit;

}

.section-projects--photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    color: #FFF;
}

.section-projects--photoinfo h5{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

.section-projects--photoinfo p{
    font-size: 12px;
}

.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}

.section-projects--photos a{
    text-decoration: none;
    margin-top: 20px;
    border: 1px solid #B28753;
    padding: 10px 30px;
    background-color: #B28753;
    color: white;
    border-radius: 15px;
    font-weight: 600;
}


.bg_team{
    background-image: url(../images/bg.jpg);
    padding: 0;
}

.section-team-area{
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
    display: flex;
}

.section-team .sliders{
    width: 1000vw;
    height: 100%;
}

.section-team .slide{
    width: 280px;
    height: 100%;
    min-height: 300px;
    background-color: white;
    margin-right: 20px;
}

.section-team .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}

.section-team-area .sliders_pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top:20px;
    color: #B28753;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-team-area .pointer{
    width: 10px;
    height: 10px;
    border: 1px solid #B28753;
    margin-right: 10px;
    border-radius: 20px;
}
.section-team-area .pointer.active{
    background-color: #B28753;
}

.slidearea img{
    margin-top: 40px;
}

.names{
    color: black;
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 600;
}

.names_info{
    color: black;
    font-size: 14px;
    margin-top: 8px;
}

.section-team--social{
    margin-bottom: 30px;
}

.section-team--social a{
    border: 3px solid #b9b9b9;
    padding: 8px;
    border-radius: 20px;
    background-color: #b9b9b9;
    margin-left: 10px;
}

.section-team--social a:hover{
    background-color: #707070;
    border: 3px solid #707070;
}

.section_happyclients--photo{
    text-align: center;
}
.section_happyclients--info{
    text-align: center;
    margin-top: 20px;
}

.info_jd_happyclients{
    font-size: 14px;
    color: #707070;
    margin-top: 30px;
}

.photo_info_jd{
    margin-top: 30px;
}

.section_happyclients .happy_clients_pointers{
    margin-top: 40px;
    color: #B28753;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_happyclients .pointer{
    width: 10px;
    height: 10px;
    border: 1px solid #B28753;
    margin-right: 10px;
    border-radius: 20px;
}
.section_happyclients .pointer.active{
    background-color: #B28753;
}

.empresas {
    display: flex;
    justify-content: center;
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
}

.empresas-imgs img{
    margin: 35px;
}

.precos{
    display: flex;
    justify-content: space-around;
}

.sliders-precos{
    background-color:white;
    width: 300px;
    height: 350px;
    margin-left: 20px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

.title-precos{
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}

.price-precos{
    margin: 20px;
    font-size: 30px;
    font-weight: 700;
}

.price-precos p{
    text-transform: uppercase;
    font-size: 12px;
    color: #aeaeae;
}

.info-precos {
    margin-bottom: 40px;
    text-align: center;
    font-size: 12px;
    color: #707070;
}

.buttom-precos a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(49, 49, 49);
    color: white;
    border: 1px solid rgb(49, 49, 49);
    padding: 12px 25px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}

.buttom-precos-ultimo a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #B28753;
    color: white;
    border: 1px solid #B28753;
    padding: 12px 25px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}